@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: #ff0000;
  --color-accent-hover: #cc0000;

  --color-bg: #ffffff;
  --color-fg: #ff0000;
}

/* Base styles for a dark theme and smooth scrolling */
@layer base {

  html,
  body {
    @apply bg-[var(--color-bg)] text-[var(--color-fg)];
    background-image: radial-gradient(circle at center, transparent 0%, rgba(255, 0, 0, 0.03) 100%);
    overscroll-behavior: none;
  }

}

/* Lenis recommended CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Force spline-viewer to be completely transparent and fixed */
spline-viewer {
  background: transparent !important;
  background-color: transparent !important;
}

spline-viewer::part(logo) {
  display: none !important;
}

.text-white-shadow {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.3);
}

.selection\:bg-red-500 ::selection {
  background-color: #ff0000;
  color: white;
}

.text-outline-red {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px #ef4444;
}